<?xml version="1.0"?>
<plugins xmlns="http://www.scec.org/vdo/plugin-descriptor" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.scec.org/vdo/plugin-descriptor plugin.xsd"
	version="1.0">
	
	<plugin id="org.scec.vdo.plugins.PickingTestPlugin" name="Picking Test Plugin" short-name="Picking Test"
		version="1.0" creator="K. Milner"
		plugin-class="org.scec.vtk.plugins.PickingTestPlugin.PickingTestPlugin">
		
		<menu-item menu="Display" submenu="Training"/>
			
	</plugin>
</plugins>